/* reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* generics */

.container-main {
    max-width: 70%;
    margin: 0 auto;
}

.container-head-foot {
    max-width: 85%;
    margin: 0 auto;
    flex-direction: column;
}

/* costruzione blocchi */

.debug span {
    border: 1px dashed black;
    min-height: 1.5rem;
    padding: 0.7rem;
}

.debug a {
    text-decoration: none;
    color: black;

    line-height: 1.5rem;
    vertical-align: middle;
    padding: 0.7rem 0.5rem;

}

.debug div {
    border: 1px dashed black;
}

/* utilities */
.d-flex {
    display: flex;
}

/* header */
header {
    position: fixed;
    min-width: 100%;
}

.ordering-header {
    border: 1px dashed black;
    justify-content: space-between;
}

/* jumbotron */
.jumbotron {
    background-color: #B4D0E7;
    min-height: 45rem;
    padding-top: 3.5rem;
}

h1 {
    font-size: 3.5rem;
}

#jumbo-photo {
    max-height: 30rem;
}

.jumbo-info {
    flex-direction: column;
    flex-basis: 30%;
}

.down {
    position: relative;
    top: 70px;
}

.jumbo-image {
    width: 70%;
}

.ordering-jumbo {
    flex-basis: 60%;
    justify-content: flex-end;
}