/* reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* generics */

.container-small {
    max-width: 70%;
    margin: 0 auto;
}

.container-big {
    max-width: 85%;
    margin: 0 auto;

}

section {
    margin-bottom: 7.5rem;
}

h3 {
    font-size: 2.6rem;
    margin: 1.5rem 0;
}

li {
    list-style-type: none;
    padding: 0.7rem 0.5rem;
}

/* costruzione blocchi */

.debug span {
    border: 1px dashed #000;
    min-height: 1.5rem;
    padding: 0.7rem;
}

.debug a {
    text-decoration: none;
    color: #000;

    line-height: 1.5rem;
    vertical-align: middle;


}

.debug div {
    border: 1px dashed #000;
}

/* utilities */
.d-flex {
    display: flex;
}

button {
    border: none;
    background-color: #0061FF;
    height: 3rem;
    width: 15rem;
    color: white;
    padding: 0.15rem;
    cursor: pointer;
    font-size: 1.05rem;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 1;
}

.ordering-header {
    border: 1px dashed #000;
    justify-content: space-between;
}

header .call-to-action {
    border: none;
    background-color: #0061FF;
    color: white;
    padding: 0.35rem;
    cursor: pointer;
    font-size: 1.05rem;

}

/* jumbotron */
.jumbotron {
    background-color: #B4D0E7;
    min-height: 45rem;
    padding-top: 3.5rem;
}

h1 {
    font-size: 3.5rem;
}

#jumbo-photo {
    max-height: 30rem;
    box-shadow: 00.5rem #000;
}

.jumbo-info {
    flex-direction: column;
}

.down {
    position: relative;
    top: 4.3rem;
}

.jumbo-image {
    width: 70%;
}

.ordering-jumbo {
    flex-basis: 60%;
    justify-content: flex-end;
}

/* jumbotron details */
.jumbotron p {
    margin-top: 0;
    margin-bottom: 2.5rem;
}


.jumbotron button a {
    color: #FFF;
}

.fa-arrow-down {
    font-size: 2.5rem;
    position: relative;
    top: 3rem;
}

/* blocks structure main */